body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  width: 100%;
  text-align: center;
}

header {
  background-color: #00AEEF;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin-bottom: 10px;
}

.data-section {
  padding: 40px;
}

.data-section h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.data-section p {
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  width: 500px;
  opacity: 0.6;
}

table, th, td {
  border: 1px solid rgb(56, 56, 56);
}

th, td {
  padding: 8px;
  text-align: left;
}
